:root {
    --bg-clr: hsl(216, 65%, 11%);
    --text-clr: hsl(226, 70%, 88%);
    --accent-clr: hsl(166, 100%, 70%);
    --accent-clr-dark: hsl(166, 100%, 50%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color-scheme: dark;
    font-family: system-ui;
}

h2 {
    text-transform: uppercase;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    color: var(--text-clr);
    background-color: var(--bg-clr);
}

.button-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 2rem;
    width: 50rem;
    height: 50rem;
    border: 1px solid red;
}

.button {
    font-size: 20px;
    width: fit-content;
    padding: .75em 1em;
    line-height: 1;
    text-decoration: none;
    
}

.button-1 {
    border: 1px solid var(--accent-clr);
    border-radius: .25em;
    color: var(--accent-clr);
    transition: all .25s ease-in-out;
}

.button-1:is(:hover, :focus) {
    transform: translate3d(-4px, -4px, 0);
    box-shadow: 3px 3px 0 var(--accent-clr-dark);
}

.button-2 {
    position: relative;
    width: fit-content;
    border-top: 1px solid var(--accent-clr);
    border-right: 1px solid var(--accent-clr);
    color: var(--accent-clr);
    transition: all .4s ease;
}

.button-2:hover {
    color: var(--bg-clr);
    font-weight: 600;
    border: none;
}

.button-2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1rem;
    height: 1rem;
    background-color: var(--accent-clr-dark);
    z-index: -10;
    transition: all .25s cubic-bezier(1, 0, 0.68, 1.34);
}

.button-2:hover::before {
    width: 100%;
    height: 100%;
    border-radius: .25em;
}